
@font-face {
    font-family: 'Corinthia';
    src: url('../assets/fonts/Corinthia\ Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: 'Montserrat-light';
    src: url('../assets/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Gabriella';
    src: url('../assets/fonts/Gabriela-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-Medium.ttf');
}