@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/RobotoSlab-ExtraBold.ttf');
         font-weight: 400;
         font-style: normal;
}

@font-face {
    font-family: 'TT';
    src: url('../assets/fonts/TTNorms-Medium.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Corinthia';
    src: url('../assets/fonts/Corinthia\ Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: 'Montserrat-light';
    src: url('../assets/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Tenor';
    src: url('../assets/fonts/tenorsans.ttf');
}

@font-face {
    font-family: 'Noto';
    src: url('../assets/fonts/NotoSerifDisplay_Condensed-Bold.ttf');
}

@font-face {
    font-family: 'Gabriella';
    src: url('../assets/fonts/Gabriela-Regular.ttf');
}

@font-face {
    font-family: 'Fog';
    src: url('../assets/fonts/FoglihtenNo06_076.otf');
}