html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body, h1 {
  font-family: "Montserrat-light", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-style: normal;
  font-weight: 300;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-family: "Montserrat-bold", sans-serif;
}

ul li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
}

@font-face {
  font-family: "Corinthia";
  src: url("../assets/fonts/Corinthia Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat-light";
  src: url("../assets/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Gabriella";
  src: url("../assets/fonts/Gabriela-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Medium.ttf");
}
.burger__logo {
  position: fixed;
  z-index: 6;
  left: 15px;
  top: -20px;
  width: 150px;
}

.burger__menu + .burger__label {
  position: fixed;
  top: 2.8125em;
  right: 3.75em;
  height: 1.25em;
  width: 1.25em;
  z-index: 5;
}
.burger__menu + .burger__label .burger__span {
  position: absolute;
  width: 100%;
  height: 0.125em;
  top: 50%;
  margin-top: -0.0625em;
  left: 0;
  display: block;
  background: #1b2326;
  transition: 0.5s;
}
.burger__menu + .burger__label .burger__span-1 {
  top: 0.25em;
}
.burger__menu + .burger__label .burger__span-3 {
  top: 1em;
}

.burger__label:hover {
  cursor: pointer;
}

.burger__menu:checked + .burger__label .burger__span {
  opacity: 0;
  top: 50%;
}
.burger__menu:checked + .burger__label .burger__span-1 {
  opacity: 1;
  transform: rotate(405deg);
}
.burger__menu:checked + .burger__label .burger__span-3 {
  opacity: 1;
  transform: rotate(-405deg);
}

.burger__menu ~ .burger__nav {
  background: #f6e6ef;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6em;
  z-index: 3;
  transition: 0.3s;
  transition-delay: 0.1s;
  overflow: hidden;
}
.burger__menu ~ .burger__nav > .burger__items {
  position: absolute;
  top: 20%;
  left: 5%;
}
.burger__menu ~ .burger__nav > .burger__items > .burger__item {
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0s;
}
.burger__menu ~ .burger__nav > .burger__items > .burger__item > .burger__link {
  text-transform: uppercase;
  color: #1b2326;
  display: block;
  padding: 15px;
  text-align: left;
}

.burger__menu:checked ~ .burger__nav {
  height: 100vh;
  transition-delay: 0s;
}
.burger__menu:checked ~ .burger__nav > .burger__items > .burger__item {
  opacity: 1;
  transition-delay: 0.1s;
}

.burger-flex-items {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  gap: 50px;
}

.burger__item-6 img, .burger__item-7 img, .burger__item-8 img {
  width: 40px;
}

.about {
  margin-bottom: 100px;
  width: 80%;
  background-color: #f6e6ef;
  border-radius: 100px;
}

.about__container {
  margin-top: 100px;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.about__container-title h1 {
  font-size: 1.875em;
  text-align: center;
}
.about__container-title h2 {
  margin-top: 50px;
  font-size: 1.875em;
  text-transform: uppercase;
  text-align: center;
}
.about__container-title p {
  text-align: center;
}
.about__container-title-btn {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}
.about__container-title-btn-left {
  width: 135px;
  color: #f6e6ef;
  background-color: hsl(327, 88%, 77%);
  padding: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.about__container-title-btn-left:hover, .about__container-title-btn-right:hover {
  transition: 0.5s ease-in;
  background-color: #FF1493;
}
.about__container-title-btn-right {
  text-align: center;
  width: 135px;
  color: #f6e6ef;
  background-color: hsl(327, 88%, 77%);
  padding: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.about__container-item {
  width: 100%;
}
.about__container-item img {
  border-radius: 50%;
  width: 300px;
  height: auto;
}
.about__container-description {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
}
.about__container-description p {
  font-size: 8px;
}

@media screen and (max-width: 800px) {
  .about__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about__container-item {
    display: none;
  }
  .about__container-description {
    width: 100%;
    word-wrap: normal;
  }
  .about__container-description p {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 450px) {
  .about__container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__container-title h1 {
    font-size: 1.2em;
  }
  .about__container-title h2 {
    font-size: 1.875em;
  }
  .about__container-title p {
    font-size: 0.875em;
  }
  .about__container-title-btn {
    margin-top: 30px;
  }
}
.services {
  width: 80%;
  margin-bottom: 100px;
}
.services__title h2 {
  font-size: 25px;
}
.services__title p {
  margin-top: -25px;
  font-size: 65px;
  color: hsl(327, 88%, 77%);
  font-weight: 800;
  font-family: "Corinthia", sans-serif;
  margin-bottom: 50px;
}
.services__container-fillin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.services__container-fillin-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.services__container-fillin-description p {
  width: 100%;
  padding-top: 20px;
  text-align: left;
}
.services__container-fillin-btn {
  display: flex;
  justify-content: center;
}
.services__container-fillin-btn a {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 3px solid hsl(327, 88%, 77%);
  padding: 15px;
  color: hsl(327, 88%, 77%);
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.services__container-fillin-btn a:hover {
  background-color: #FF1493;
  transition: 0.5s ease-in;
  border: #FF1493;
  color: #f6e6ef;
}
.services__container-fillin-item {
  display: flex;
  justify-content: center;
  width: 100%;
}
.services__container-fillin-item img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 900px) {
  .services__container-fillin {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .services__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .services__container-fillin-description {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: -50px;
  }
}
@media screen and (max-width: 450px) {
  .services__title h2 {
    font-size: 1.875em;
  }
  .services__title p {
    margin-left: 150px;
    margin-top: -10px;
    font-size: 2.5em;
  }
  .services__container-fillin-description p {
    font-size: 0.875em;
  }
  .services__container-fillin-btn {
    margin-bottom: -30px;
  }
  .services__container-fillin-btn a {
    font-size: 0.875em;
  }
}
.price {
  width: 80%;
  margin-bottom: 100px;
}

.price__container {
  flex-wrap: wrap;
  width: 100%;
}
.price__container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}
.price__container-title h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 1.875em;
  text-wrap: wrap;
}
.price__container-title a {
  color: #f6e6ef;
  background-color: hsl(327, 88%, 77%);
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}
.price__container .owl-carousel {
  margin-top: 50px;
  width: 100%;
}

.studio {
  width: 80%;
  margin-bottom: 100px;
}
.studio__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.studio__title h2 {
  font-size: 1.875em;
}
.studio__title p {
  margin-top: 25px;
  font-size: 0.875em;
}

@media screen and (max-width: 800px) {
  .studio__title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .studio__title p {
    margin-top: -5px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 450px) {
  .studio__title h2 {
    font-size: 1.5em;
  }
  .studio__title p {
    font-size: 0.875em;
  }
}
.masters {
  background-color: #f6e6ef;
  width: 80%;
  margin-bottom: 100px;
}
.masters__title h2 {
  padding-top: 20px;
  padding-left: 5%;
  font-size: 1.875em;
}
.masters__container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.masters__container-content {
  display: flex;
}
.masters__container-content img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 200px;
}
.masters__container-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}
.masters__container-description p {
  font-size: 0.875em;
}

@media screen and (max-width: 600px) {
  .masters__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .masters__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .masters__container-description {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 450px) {
  .masters__title h2 {
    font-size: 1.875em;
    margin-bottom: -20px;
  }
  .masters__container-content img {
    width: 100px;
    height: 100px;
  }
  .masters__container-description p {
    font-size: 0.875em;
  }
}
.about__laser {
  width: 80%;
}
.about__laser-title {
  display: flex;
}
.about__laser-title h2 {
  font-size: 1.875em;
  margin-bottom: 50px;
}
.about__laser-container {
  display: flex;
  flex-direction: column;
}
.about__laser-container-description {
  display: flex;
}
.about__laser-container-description p {
  text-align: left;
  width: 100%;
  margin-bottom: 50px;
}
.about__laser-container-content {
  display: flex;
  width: 80%;
  gap: 10px;
  margin-bottom: 100px;
}
.about__laser-container-content img {
  width: 40%;
}

@media screen and (max-width: 800px) {
  .about__laser-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: -30px;
  }
  .about__laser-container-description {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .about__laser-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about__laser-container-content img:nth-child(1), .about__laser-container-content img:nth-child(2) {
    display: none;
  }
  .about__laser-container-content img:nth-child(3) {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .about__laser-title h2 {
    font-size: 1.875em;
  }
  .about__laser-container-description p {
    font-size: 0.875em;
  }
}
.laser {
  width: 90%;
  background-color: #f6e6ef;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.laser__title {
  display: flex;
  padding-left: 5%;
}
.laser__title h2 {
  padding-top: 2%;
  font-size: 1.875em;
}
.laser__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.laser__container-img {
  width: 50%;
  height: auto;
}
.laser__container-img img {
  width: 100%;
}
.laser__container-description {
  padding-top: 3%;
  width: 400px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding-bottom: 3%;
}
.laser__container-description-1 {
  font-size: 0.875em;
}
.laser__container-description-2 {
  font-size: 1em;
  font-family: "Montserrat-bold", sans-serif;
  color: #585b56;
}

@media screen and (max-width: 900px) {
  .laser__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .laser__container-description {
    display: flex;
    text-align: left;
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 450px) {
  .laser__title h2 {
    margin-top: 20px;
    font-size: 1.875em;
  }
  .laser__container-description .laser__container-description-1 {
    font-size: 0.875em;
  }
  .laser__container-description .laser__container-description-2 {
    font-size: 1.2em;
  }
  .laser__container-description p {
    font-size: 0.875em;
  }
}
.results {
  width: 80%;
  margin-bottom: 100px;
}
.results__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.results__title h2 {
  font-size: 1.875em;
}
.results__title p {
  margin-top: 25px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .results__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .results__title {
    text-align: center;
  }
  .results__title h2 {
    font-size: 1.875em;
    margin-bottom: 20px;
  }
}
.diplom {
  width: 90%;
  margin-bottom: 100px;
  background-color: #f6e6ef;
}
.diplom__title h2 {
  padding-left: 5%;
  padding-top: 2%;
  font-size: 1.875em;
}

.diplom-item {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}
.diplom-item img {
  cursor: pointer;
  border-radius: 10px;
  width: 20%;
}

.hidden {
  display: none;
}

.close-modal-1,
.close-modal-2,
.close-modal-3,
.close-modal-4,
.close-modal-5,
.close-modal-6,
.close-modal-7,
.close-modal-8,
.close-modal-9,
.close-modal-10,
.close-modal-11 {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal-1,
.modal-2,
.modal-3,
.modal-4,
.modal-5,
.modal-6,
.modal-7,
.modal-8,
.modal-9,
.modal-10,
.modal-11 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.modal-1 img,
.modal-2 img,
.modal-3 img,
.modal-4 img,
.modal-5 img,
.modal-6 img,
.modal-7 img,
.modal-8 img,
.modal-9 img,
.modal-10 img,
.modal-11 img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .diplom__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .diplom__title h2 {
    margin-top: 20px;
    font-size: 1.875em;
  }
}
.review {
  width: 80%;
  margin-bottom: 100px;
}
.review__title {
  margin-bottom: 50px;
}
.review__title h2 {
  font-size: 1.875em;
}

.review-container {
  width: 100%;
}

.review-container-img {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.review-container-raiting {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.review-container-text {
  width: 80%;
  margin-left: 10%;
}

@media screen and (max-width: 800px) {
  .review__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .review__title h2 {
    font-size: 1.875em;
    margin-bottom: -20px;
  }
  .review-container-text p {
    font-size: 0.875em;
  }
}
.faq {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 100px;
}

.faq__title h2 {
  margin-bottom: 50px;
  font-size: 1.875em;
  width: 60%;
}

.faq__container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.accordion-header {
  font-family: "Montserrat-bold", sans-serif;
}

.accordion-button {
  background-color: #f6e6ef;
  color: #1b2326;
  border: none;
}
.accordion-button:not(.collapsed) {
  color: #f6e6ef;
  background-color: hsl(327, 88%, 77%);
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../assets/image/laser.png");
}
.accordion-button::after {
  background-image: url("../assets/image/laser1.png");
}

.bold {
  font-family: "Montserrat-bold", sans-serif;
}

.accordion-collapse {
  color: #1b2326;
}

@media screen and (max-width: 800px) {
  .faq__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .faq__title h2 {
    font-size: 1.875em;
  }
  .accordion-item p {
    font-size: 0.875em;
  }
}
.contacts {
  width: 80%;
  margin-bottom: 100px;
}
.contacts h2 {
  font-size: 1.875em;
  margin-bottom: 50px;
}
.contacts__container {
  display: flex;
  justify-content: space-around;
}
.contacts__container-address-1 {
  width: 300px;
}
.contacts__container-map {
  width: 100%;
}
.contacts__container-map iframe {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .contacts__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .contacts__container {
    display: flex;
    flex-direction: column;
  }
  .contacts__container-map {
    width: 100%;
  }
  .contacts__container-map iframe {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .contacts__title h2 {
    font-size: 1.875em;
  }
  .contacts__container-address p {
    font-size: 0.875em;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6e6ef;
  height: auto;
  width: 100%;
}

.footer__icon {
  width: 300px;
  height: 200px;
}
.footer__icon img {
  width: 100%;
}

.footer__nav {
  display: flex;
}
.footer__nav ul {
  padding-bottom: 20px;
}
.footer__nav ul li {
  padding: 20px;
  text-align: center;
}
.footer__nav ul li a {
  text-transform: uppercase;
  color: #1b2326;
}
.footer__nav ul li a:hover {
  color: #FF1493;
}

.footer__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__contacts-socmedia {
  display: flex;
  justify-content: center;
  width: 300px;
  gap: 50px;
}
.footer__contacts-socmedia a {
  padding-bottom: 50px;
}
.footer__contacts-socmedia a img {
  width: 50px;
}

.footer__contacts-tels {
  padding-bottom: 50px;
}
.footer__contacts-tels a {
  color: #1b2326;
  font-size: 1.875rem;
}
.footer__contacts-tels a:hover {
  color: #FF1493;
}

.footer__contacts-address {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  text-align: center;
}

.nav__studio {
  margin-top: 120px;
  margin-left: 30px;
}
.nav__studio .nav__studio-link-active {
  color: hsl(327, 88%, 77%);
  padding-right: 10px;
}
.nav__studio .nav__studio-span {
  padding-right: 10px;
}

.studio__gallery {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.studio__gallery img {
  width: 70%;
}
.studio__gallery .studio__gallery-img-title {
  width: 70%;
  font-size: 20px;
  margin-top: 50px;
}

.contacts__new-info {
  margin: 50px;
}

.faq-new {
  margin-top: 50px;
  width: 80%;
  margin-bottom: 50px;
}

.laser__new {
  margin: 50px;
}

.laser__new-main-image {
  width: 100%;
  margin-bottom: 50px;
}
.laser__new-main-image img {
  width: 100%;
  border-radius: 15px;
}

.laser__new-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.laser__new-container img {
  width: 100%;
}

.laser__new-image-container-1, .laser__new-image-container-2, .laser__new-image-container-3, .laser__new-image-container-4, .laser__new-image-container-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.laser__new-image-container-1 .laser__new-image-container-img, .laser__new-image-container-2 .laser__new-image-container-img, .laser__new-image-container-3 .laser__new-image-container-img, .laser__new-image-container-4 .laser__new-image-container-img, .laser__new-image-container-5 .laser__new-image-container-img {
  width: 50%;
}
.laser__new-image-container-1 .laser__new-image-container-img img, .laser__new-image-container-2 .laser__new-image-container-img img, .laser__new-image-container-3 .laser__new-image-container-img img, .laser__new-image-container-4 .laser__new-image-container-img img, .laser__new-image-container-5 .laser__new-image-container-img img {
  width: 60%;
}
.laser__new-image-container-1 .laser__new-image-container-text, .laser__new-image-container-2 .laser__new-image-container-text, .laser__new-image-container-3 .laser__new-image-container-text, .laser__new-image-container-4 .laser__new-image-container-text, .laser__new-image-container-5 .laser__new-image-container-text {
  width: 50%;
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  .laser__new-image-container-1, .laser__new-image-container-2, .laser__new-image-container-3, .laser__new-image-container-4, .laser__new-image-container-5 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .laser__new-image-container-1 .laser__new-image-container-img, .laser__new-image-container-2 .laser__new-image-container-img, .laser__new-image-container-3 .laser__new-image-container-img, .laser__new-image-container-4 .laser__new-image-container-img, .laser__new-image-container-5 .laser__new-image-container-img {
    width: 50%;
  }
  .laser__new-image-container-1 .laser__new-image-container-img img, .laser__new-image-container-2 .laser__new-image-container-img img, .laser__new-image-container-3 .laser__new-image-container-img img, .laser__new-image-container-4 .laser__new-image-container-img img, .laser__new-image-container-5 .laser__new-image-container-img img {
    width: 100%;
  }
  .laser__new-image-container-1 .laser__new-image-container-text, .laser__new-image-container-2 .laser__new-image-container-text, .laser__new-image-container-3 .laser__new-image-container-text, .laser__new-image-container-4 .laser__new-image-container-text, .laser__new-image-container-5 .laser__new-image-container-text {
    width: 70%;
  }
}
.pricelist-topmaster {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 49%, rgba(255, 162, 213, 0.9232736573) 244%);
  margin-bottom: 50px;
}

.pricelist-topmaster-title {
  text-align: center;
  font-size: 25px;
  text-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pricelist-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pricelist-item img {
  width: 35%;
  border-radius: 15px;
}

.pricelist-master {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 49%, rgba(255, 162, 213, 0.9232736573) 244%);
}

.pricelist-master-title {
  text-align: center;
  font-size: 25px;
  text-wrap: wrap;
  margin-top: -50px;
  margin-bottom: 50px;
  padding-top: 50px;
}

.pricelist-all {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 49%, rgba(255, 162, 213, 0.9232736573) 244%);
  padding-bottom: 50px;
}

.pricelist-all-title {
  text-align: center;
  font-size: 25px;
  text-wrap: wrap;
  margin-bottom: 50px;
  padding-top: 50px;
}

.pricelist-all-title-zones {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
}
.pricelist-all-title-zones h2 {
  text-align: center;
  border-bottom: 1px solid #1b2326;
  padding-bottom: 10px;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .pricelist-item img {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */