.about {
    margin-bottom: 100px;
    width: 80%;
    background-color: $light-pink;
    border-radius: 100px;
}

.about__container {
    margin-top: 100px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10%; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    &-title {
        h1 {
            font-size: 1.875em;
            text-align: center;
            
        }
        h2 {
            margin-top: 50px;
            font-size: 1.875em;
            text-transform: uppercase;
            text-align: center;
        }
        p {
            text-align: center;
        }
        &-btn {
            width: 100%;
            margin-top: 70px;
            display: flex;
            justify-content: space-evenly;
            
            &-left {
                width: 135px;
                color: $light-pink;
                background-color: $button;
                padding: 20px;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 14px;
            }

            &-left:hover, &-right:hover {
                transition: 0.5s ease-in;
                background-color: $sopink;
            }

            &-right {
                text-align: center;
                width: 135px;
                color: $light-pink;
                background-color: $button;
                padding: 20px;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }

    &-item {
        width: 100%;
        
        img {
            border-radius: 50%;
            width: 300px;
            height: auto;
        }
    }

    &-description {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px;
        p {
            font-size: 8px;
        }
    }
}
@media screen and (max-width:800px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about__container-item {
        display: none;
    }

    .about__container-description {
        width: 100%;
        word-wrap: normal;
        p {
            font-size: 0.7em;
        }
    }
}

@media screen and (max-width: 450px) {
    
    .about__container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        &-title {
            h1 {
                font-size: 1.2em;
            }

            h2 {
                font-size: 1.875em;
            }

            p {
                font-size: 0.875em;
            }

            &-btn {
                margin-top: 30px;
            }
        }
    }
}