.pricelist-topmaster {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 49%, rgba(255,162,213,0.9232736572890026) 244%);
    margin-bottom: 50px;
}

.pricelist-topmaster-title {
    text-align: center;
    font-size: 25px;
    text-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}


.pricelist-item {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        width: 50%;
        border-radius: 15px;
    }
}

.pricelist-master {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 49%, rgba(255,162,213,0.9232736572890026) 244%);
}

.pricelist-master-title {
    text-align: center;
    font-size: 25px;
    text-wrap: wrap;
    margin-top: -50px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.pricelist-all {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 49%, rgba(255,162,213,0.9232736572890026) 244%);
    padding-bottom: 50px;
}

.pricelist-all-title {
    text-align: center;
    font-size: 25px;
    text-wrap: wrap;
    margin-bottom: 50px;
    padding-top: 50px;
}

.pricelist-all-title-zones {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;

    h2 {
        text-align: center;
        border-bottom: 1px solid $dark;
        padding-bottom: 10px;
        width: 50%;
    }
} 