.price {
    width: 80%;
    margin-bottom: 100px;
}
.price__container {
   flex-wrap: wrap;
   width: 100%;

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        flex-direction: column;
        
        h2 {
            text-align: center;
            margin-top: 50px;
            font-size: 30px;
            text-wrap: wrap;
        }

        a {
            color: $light-pink;
            background-color: $button;
            padding: 15px;
            border-radius: 10px;
            margin-top: 10px;
            text-transform: uppercase;
        }
    }

    .owl-carousel {
        margin-top: 50px;
        width: 100%;
        
    }
}

