.results {
    width: 80%;
    margin-bottom: 100px;

    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        
        
        h2 {
            font-size: 1.875em;
        }

        p {
            margin-top: 25px;
            font-size: 20px;  
        }
    }
}

@media screen and (max-width: 800px) {
    
    .results__title {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}


@media screen and (max-width: 450px) {
    
    .results__title {
        text-align: center;

        h2 {
            font-size: 1.5em;
            margin-bottom: 20px;
        }
    }

    
}
