.review {
    width: 80%;
    margin-bottom: 100px;

    &__title {
      margin-bottom: 50px;
        h2 {
            font-size: 1.875em;
        }
    }
}

.review-container {
  width: 100%;
}

.review-container-img {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.review-container-raiting {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.review-container-text {
  width: 80%;
  margin-left: 10%;
}


@media screen and (max-width: 800px) {
  .review__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}