.studio {
    width: 80%;
    margin-bottom: 100px;

    &__title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
        
        h2 {
            font-size: 40px;
        }

        p {
            margin-top: 25px;
            font-size: 20px;
            
        }
    }
}

@media screen and (max-width: 800px) {
    
    .studio__title {
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
            margin-top: -5px;
            margin-bottom: 30px;
        }
    }
}



@media screen and (max-width: 450px) {
    
    .studio__title {
        
        h2 {
            font-size: 1.5em;
        }

        p {
            font-size: 0.875em;
        }
    }
}
